<% layout('/layouts/boilerplate') %>

<section class="h-100 gradient-custom-2">
  <div class="container mb-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-10">
        <div class="card" >
        <div class="card-header ">
          <div class="row text-white pfp">
            <div class="col-sm-3 ms-5 d-flex flex-column justify-content-center align-items-center">
              <img src="https://i.pinimg.com/474x/8f/1b/09/8f1b09269d8df868039a5f9db169a772.jpg" 
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" >
                <% if(user.username === currentUser.username) { %> 
              <a class="btn btn-outline-light editBtn" data-mdb-ripple-color="dark" href="/<%= user.username%>/edit" >
                Edit profile
              </a>
              <% } %> 
            </div>
            <div class="col-sm-3 userDet">
              <div class=" mt-5" >
                <h5><%= user.name%></h5>
                <p class="fw-lighter">@<%= user.username%></p>
              </div>
            </div>
          </div>
          <img src="https://images.unsplash.com/photo-1460355976672-71c3f0a4bdac?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769" alt="..." class="card-img-top">
          <div class="row bb">
            <div class="col-6 offset-3 col-sm-3 userDet2">
              <div class="text-center" >
                <h5><%= user.name%></h5>
                <p class="fw-lighter">@<%= user.username%></p>
              </div>
            </div>
            <div class="d-flex justify-content-end text-center py-1 userCounters">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
        </div>     
        <div class="card-body p-4 text-black">
          <% if(user.about) {%>
          <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><%= user.about%></p>
              </div>
          </div>
          <% } %>  
          <div class="d-flex justify-content-start align-items-center mb-4">
            <p class="lead fw-normal mb-0">Lists</p>
            <a href="/<%= user.username%>/lists/new" class="btn btn-outline-dark ms-auto">New List</a>
          </div>
          <div class="row justify-content-center" >
            <div class="row align-items-center justify-content-start mt-3">
              <% for(list of user.lists) {%> 
              <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                  <div class="card mb-4 "style="max-width: 22rem;">
                    <div class="list">
                      <img src="<%= list.coverUrl%>" alt="..." class="card-img-top">
                    </div>  
                      <a class="card-img-overlay d-flex flex-column text-decoration-none text-light " href="/<%= user.username%>/lists/<%= list._id%>">
                        <div class="">
                          <p class="card-text"></p>
                        </div>
                        <div class="mt-auto">
                          <div class="row d-flex">
                            <div class="col-9">
                              <h5><%=list.name%></h5>
                              <h6>by <%if(currentUser.username === user.username){%>me<% }else{ %><%= user.username%><%}%></h6>
                            </div>
                            <div class="col-3 ms-auto"> &#10084; 120</div>
                          </div>
                        </div>
                      </a>
                  </div>
              </div>        
              <% } %>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

