<% layout('/layouts/boilerplate') %>
<div class="card mb-3">
    <div class="card-header">
        <img src="<%= list.coverUrl%>" alt="" class="card-img-top">
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col-9">
                <h5 class="card-title"><%= list.name %> </h5>
                <h6 class="card-subtitle">by <%if(currentUser && list.owner._id === currentUser.user_id){%>me<% }else{ %><%=list.owner.username%><%}%></h6>
                <p class="card-text text-muted "><%= list.description %> </p>
                
            </div>
            <div class="col-3 d-flex flex-column align-items-end">
                <div>
                    &#10084; <%= list.likes.length%>
                </div>
                <div class="mt-2">
                    <% if (currentUser) {%>
                        <% if( list.owner._id.toString() === currentUser.user_id.toString()) { %>
                            <a href="/<%=username%>/lists/<%=list._id%>/edit" class="btn btn-primary">Edit </a>
                            <form action="/<%=username%>/lists/<%=list._id%>/privacy?_method=PUT" method="POST" class="d-inline">
                                <button class="btn btn-success">Make <%if(list.privacy === 'Public') { %> Private <% }else{ %> Public <% } %>  </button>
                            </form>
                            <form action="/<%=username%>/lists/<%=list._id%>?_method=DELETE" method="POST" class="d-inline">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <% }else{ %>
                                <form action="/<%=username%>/lists/<%=list._id%>/like?_method=PUT" method="POST" class="d-inline">
                                    <button class="btn btn-danger"><% if (list.likes.includes(currentUser.user_id)){%> unlike<% }else{ %> like <% } %>  </button>
                                </form>
                            <% } %> 
                    <% } %>   
                </div>
            
            </div>
                 
            </div>
        </div>
        <% if(!list.books.length && !list.movies.length && !list.tvshows.length) {%>
            <p class="text-muted text-center">Let's Add some to this list!</p>
        <% } else {%>
            <div class="row align-items-center justify-content-start p-3">
                <% for(book of list.books) {%> 
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card mb-4"style="max-width: 22rem;">
                        <img src="<%=book.imgUrl%>" alt="<%=book.title%>" class="card-img-top">
                        <div class="card-body">
                                <h5 class="card-title text-truncate"><%=book.title%></h5>
                                <h6 class="card-subtitle">by <%=book.author%></h6>
                                <div class="text-truncate-container">
                                    <p class="card-text mt-2  text-muted"><%= book.description%></p>
                                </div>
                                <a href="/books/<%=book.isbn%>" class="btn btn-primary mt-2">View details</a>
                                <% if(currentUser && list.owner._id === currentUser.user_id) { %>
                                <form action="/<%=username%>/lists/<%=list._id%>/books/<%=book.isbn%>?_method=DELETE" method="POST" class="d-inline">
                                    <button class="btn btn-danger mt-2">Remove</button>
                                </form>
                                <% } %> 
                        </div>
                    </div>
                </div>        
                <% } %>     
                <% for(movie of list.movies) { %> 
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card mb-4"style="max-width: 22rem;">
                            <img src="<%=movie.posterUrl%>" alt="<%=movie.title%>" class="card-img-top">
                            <div class="card-body">
                                    <h5 class="card-title text-truncate"><%=movie.title%></h5>
                                    <h6 class="card-subtitle">Release Date: <%=movie.releaseDate%></h6>
                                    <div class="text-truncate-container">
                                        <p class="card-text mt-2  text-muted"><%= movie.overview%></p>
                                    </div>
                                    <a href="/movies/<%=movie.id%>" class="btn btn-primary mt-2">View details</a>
                                    <% if(currentUser && currentUser.username === username) { %>
                                    <form action="/<%=username%>/lists/<%=list._id%>/movies/<%=movie.id%>?_method=DELETE" method="POST" class="d-inline">
                                        <button class="btn btn-danger mt-2">Remove</button>
                                    </form>
                                    <% } %> 
                            </div>
                        </div>
                    </div>        
                    <% } %>   
                    <% for(tvshow of list.tvshows) { %> 
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card mb-4"style="max-width: 22rem;">
                                <img src="<%=tvshow.posterUrl%>" alt="<%=tvshow.title%>" class="card-img-top">
                                <div class="card-body">
                                        <h5 class="card-title text-truncate"><%=tvshow.title%></h5>
                                        <h6 class="card-subtitle">Number of Seasons: <%=tvshow.numberOfSeasons%></h6>
                                        <div class="text-truncate-container">
                                            <p class="card-text mt-2  text-muted"><%= tvshow.overview%></p>
                                        </div>
                                        <a href="/tvshows/<%=tvshow.id%>" class="btn btn-primary mt-2">View details</a>
                                        <% if(currentUser && currentUser.username === username) { %>
                                        <form action="/<%=username%>/lists/<%=list._id%>/tvshows/<%=tvshow.id%>?_method=DELETE" method="POST" class="d-inline">
                                            <button class="btn btn-danger mt-2">Remove</button>
                                        </form>
                                        <% } %> 
                                </div>
                            </div>
                        </div>        
                        <% } %>     
            </div>
        <% } %> 
    </div>
</div>