<% layout('/layouts/boilerplate') %>
<div class="d-flex">
    <div class="cover-container d-flex w-100 h-100 mx-auto p-3 flex-column">
        <div class="row">
            <form class="input-group needs-validation" action="/books/googleSearch" method="GET" novalidate>
                <input type="search" class="form-control rounded" name="searchKey" placeholder="Search" aria-label="q" aria-describedby="search-addon" id="q" required/>
                <button class="btn btn-outline-primary">search</button>
            </form>
        </div>
    </div>
</div> 
  

<div class="row align-items-center justify-content-start mt-3">
    <% for(book of books) { %> 
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card mb-4"style="vh-30 max-width: 22rem;">
            <img src="<%=book.imgUrl%>" alt="<%=book.title%>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-truncate"><%=book.title%></h5>
                <h6 class="card-subtitle">by <%=book.author%></h6>
                <div class="text-truncate-container">
                    <p class="card-text mt-2  text-muted"><%= book.description%></p>
                </div>
                <div class="mt-2">
                        <!-- Button trigger modal -->
                        <div class="modal fade" id="bookModal<%= book.isbn%>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><%=  book.title%></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <img src="<%=  book.imgUrl %> " alt="" class="img-thumbnail modal-img">
                                        <h6 class="text-muted mt-2"> ISBN: <%= book.isbn%></h6>
                                    </div>
                                    <h4>Author: <%= book.author%></h4>
                                    <p>
                                        <span class="fw-semibold">Description:</span> <%= book.description%>
                                    </p>    
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary" data-bs-target="#bookModal2<%= book.isbn%>" data-bs-toggle="modal">Add to List</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal fade" id="bookModal2<%= book.isbn%>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalToggleLabel2">Choose a list</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/<%= currentUser.username%>/lists/books/add" method="POST">
                                    <%for(list of currentUser.bookLists) {  %> 
                                    <div class="form-check d-flex justify-content-start align-items-center mb-3">
                                        <input class="form-check-input mx-3" type="radio" name="choosenList" value="<%= list.id%>" >
                                        <label class="form-check-label me-3" for="<%=list.id%>"> <%= list.name%></label>
                                    </div>
                                    <%} %> 
                                    <div class="form-check d-flex justify-content-start align-items-center mb-3">
                                        <input class="form-check-input mx-3" type="radio" name="choosenList" value="new" checked>
                                        <label class="form-check-label me-3" for="new"> New</label>
                                        <input type="text" name="list[name]" id="listName" >
                                        <input class="d-none" type="text" name="book[id]" value="<%=book.id%>" >
                                        <input class="d-none" type="text" name="book[isbn]" value="<%=book.isbn%>" >
                                        <input class="d-none" type="text" name="book[title]" value="<%=book.title%>" >
                                        <input class="d-none" type="text" name="book[imgUrl]" value="<%=book.imgUrl%>" >
                                        <input class="d-none" type="text" name="book[description]" value="<%=book.description%>" >
                                        <input class="d-none" type="text" name="book[author]" value="<%=book.author%>" >

                                    </div>
    
                                    <div class="modal-footer">
                                        <button class="btn btn-success">Add</button>
                                    </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a class="btn btn-primary" data-bs-toggle="modal" href="#bookModal<%=book.isbn%>" role="button">View Details</a>
                          
                </div>
            </div>
        </div>
    </div>        
    <% } %>     
</div>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal<%=// i%>">
                        View details
                    </button>
                    <-- Modal -->
                    <!-- <div class="modal fade" id="bookModal<%=// i%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" id="{{id}}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><%= // book.title%></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <img src="<%= // book.imgUrl %> " alt="" class="img-thumbnail modal-img">
                                        <h6 class="text-muted mt-2"> ISBN: <%=// book.isbn%></h6>
                                    </div>
                                    <h4>Author: <%=// book.author%></h4>
                                    <p>
                                        <span class="fw-semibold">Description:</span> <%=// book.description%>
                                    </p>    
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>  -->