<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-sm-12 col-md-3 d-flex flex-column justify-content-center align-items-center mb-auto">
        <img src="<%= book.imgUrl %> " class="d-inline img-thumbnail img-fluid bookImg" alt="...">
        <h6 class="card-subtitle fs-6 text-muted mt-3">ISBN: <%= book.isbn%></h6>
        <% if(currentUser) {%> 
            <div>
                <button class="btn btn-primary mt-2" data-bs-target="#bookModal2<%= book.isbn%>" data-bs-toggle="modal">Add to List</button>
                <div class="modal fade" id="bookModal2<%= book.isbn%>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel2">Choose a list</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/<%= currentUser.username%>/lists/addToList" method="POST">
                                <%for(list of currentUser.lists) {  %> 
                                <div class="form-check d-flex justify-content-start align-items-center mb-3">
                                    <input class="form-check-input mx-3" type="radio" name="choosenList" value="<%= list.id%>" >
                                    <label class="form-check-label me-3" for="<%=list.id%>"> <%= list.name%></label>
                                </div>
                                <%} %> 
                                <div class="form-check d-flex justify-content-start align-items-center mb-3">
                                    <input class="form-check-input mx-3" type="radio" name="choosenList" value="new" checked>
                                    <label class="form-check-label me-3" for="new"> New</label>
                                    <input type="text" name="list[name]" id="listName" >
                                    <input class="d-none" type="text" name="book[isbn]" value="<%=book.id%>" >
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-success">Add</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        <% } %>
        <% if(currentUser === 'admin') { %>
            <div class="mt-3">
                <a href="/books/<%=book.isbn%>/edit" class="btn btn-primary">Edit </a>
                <form action="/books/<%=book.isbn%>?_method=DELETE" method="POST" class="d-inline">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        <% } %>  
    </div>
        <div class="col-md-5 col-12 d-flex flex-column mb-3">
            <h5 class="card-title mt-2 fs-2"><%= book.title%></h5>
            <h6 class="card-subtitle fs-5">by <%= book.author %></h6>
            <p class="card-text mt-4"><%=book.description%></p>
        </div>
        <div class="col-md-4 col-12 d-flex flex-column mb-3">
            <% if(currentUser) {%> 
            <h2>Leave a review</h2>
            <form action="/books/<%=book.isbn%>/reviews" method="POST" class="needs-validation" novalidate>
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <textarea class="form-control" name="review[text]" id="reviewTxt" cols="30" rows="3" required></textarea>
                <button class="btn btn-success mt-3">Submit</button>
            </form>
            <% } %> 
            <% for(review of book.reviews) { %> 
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title"> by <a class="text-decoration-none text-muted" href="/<%= review.user.username %>">@<%= review.user.username %></a>  </h5>
                        <p class="starability-result" data-rating="<%=review.rating%>">
                            Rated: <%= review.rating %> stars
                        </p>
                        <p class="card-text"><%=review.text %></p>
                        <div class="mt-3">
                            <%  if(currentUser) { if(review.user.username === currentUser.username || currentUser.username === 'admin') {%> 
                                <form action="/books/<%=book.isbn%>/reviews/<%=review._id%>?_method=DELETE" method="POST" class="d-inline">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <%  }} %> 
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
</div>